.upper-container {
    display: flex;
    align-items: center;
    margin-left: 44px;
    justify-content: space-between;
    height: 60px;
    margin-top: 19px;
}

.container {
    display: flex;
}

.main-container-book {
    display: flex;
    flex-direction: column; /* Изменяем flex-direction на column */
    width: 100%;
}

.content {
    width: 1250px;
    margin: auto;
    display: flex;
    flex-direction: column; /* Добавляем flex-direction: column */
}

.books-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Используем space-around */
    column-gap: 38px;
    width: 100%;
    height: 750px;
    align-items: center;
}

.level-title {
    margin-bottom: 0;
    font-family: 'GOST Type A', cursive;
}

.pagination-container {
    display: flex;
}