.upper-container {
    display: flex;
    align-items: center;
    margin-left: 44px;
    justify-content: space-between;
    height: 60px;
    margin-top: 19px;
}

.container {
    display: flex;
}

.main-container-book {
    display: flex;
    flex-direction: column; /* Изменяем flex-direction на column */
    width: 100%;
}

.content {
    width: 1250px;
    margin: auto;
    display: flex;
    flex-direction: column; /* Добавляем flex-direction: column */
}

.books-grid-favourites {
    display: grid; /* Используем grid вместо flex, чтобы гибко управлять расположением */
    grid-template-columns: repeat(5, 0fr); /* 5 колонок одинаковой ширины */
    min-height: 720px;
    padding-top: 30px;
    justify-content: space-between;
}

.level-title {
    margin-bottom: 0;
    font-family: 'GOST Type A', cursive;
}

.pagination-container {
    display: flex;
}