.guess-menu-container {
    flex: 0 0 auto;
}

.guess-button-group {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 31.5px;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: rgba(149, 170, 211, 0.3);
    border-radius: 20px;
}

.guess-button {
    font: 24px 'GOST Type A', cursive;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}

.guess-separator {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 1px;
    height: 51px;
    border-left: 1px solid black;
}