.deck-card {
    width: 216px;
    height: 195px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.deck-cover {
    width: 216px;
    height: 147px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.deck-info {
    height: 44px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    color: #583D3D;
    font-weight: bold;
}

.author {
    font-size: 14px;
    color: #000000;
    opacity: 0.4;
}

h3, p {
    margin: 0;
    font-family: 'GOST Type A', cursive;
}

.delete-button {
    z-index: 2;
    transition: all 0.3s;
}

.delete-button:hover {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.deck-cover:hover .delete-button {
    opacity: 1;
    visibility: visible;
}

.delete-button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}