.listening-page {
    display: flex;
}

.listening-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.listening-upper-content{
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 19px;
    justify-content: right;
    width: 100%;
}

.listening-title {
    flex: 0 0 auto;
    padding: 0;
    color: #272829;
    font-family: 'GOST Type A', cursive;
    margin-top: 37px;
    margin-bottom: 0;
}

.listening-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 37px;
    margin: 0 auto;
}

.listening-level-title {
    margin-bottom: 0;
    font-family: 'GOST Type A', cursive;
}

.listening-content {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Добавляем flex-direction: column */
}

.listening-topics {
    list-style: none;
    padding: 0;
}

.listening-topics li {
    margin-bottom: 10px;
}

.listening-topics a {
    text-decoration: none;
    color: blue;
}